body.normal    { background-color: #A8A878; }
body.fighting  { background-color: #C03028; }
body.flying    { background-color: #A890F0; }
body.poison    { background-color: #A040A0; }
body.ground    { background-color: #E0C068; }
body.rock      { background-color: #B8A038; }
body.bug       { background-color: #A8B820; }
body.ghost     { background-color: #705898; }
body.steel     { background-color: #B8B8D0; }
body.fire      { background-color: #F08030; }
body.water     { background-color: #6890F0; }
body.grass     { background-color: #78C850; }
body.electric  { background-color: #F8D030; }
body.psychic   { background-color: #F85888; }
body.ice       { background-color: #98D8D8; }
body.dragon    { background-color: #7038F8; }
body.dark      { background-color: #705848; }
body.fairy     { background-color: #EE99AC; }
*{
    margin: 0;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border: unset;
    cursor: pointer;
    margin: 0;
    transition: 0.5s;
}
/* lista */
.c-lista, .c-contenedor-lista{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.c-lista button{
    width: 100%;
    padding: 10px;
    background: rgb(223, 223, 223);
}

.c-lista-pokemon{
    background-color: aliceblue;
    width: calc(50% - 5px);
    padding: 10px;
    text-align: center;
}

/* navegacion */
.c-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    background: silver;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 15px;
    gap: 10px;
}

.c-nav-item{
    width: calc(20% - 8px);
    background-color: red;
}
.c-nav-item:hover{
    color: yellow;
}

/* mios */

.c-unpoke{
    background-color: #171717;
    width: calc(25% - 7.5px);
    height: 85px;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.c-mios-pokemon{
    background-color: aliceblue;
    color: #171717
}